## Settings file was created by plugin MiraAPI v0.4.1-ci.1046
## Plugin GUID: mira.api

[Accessibility]

# Setting type: Boolean
# Default value: true
Enable Sabotage Flashes = true

# Setting type: Boolean
# Default value: true
Enable Sabotage Blare = true

[Freeplay]

# Setting type: Boolean
# Default value: true
Pretty Task Laptop = false

[Visuals/UI]

# Setting type: Boolean
# Default value: false
Show Modifiers HUD on Left Side = false

# Setting type: Boolean
# Default value: true
Show Keybinds on Buttons = false

# Setting type: Single
# Default value: 0.75
Button Scale Factor = 0.75

# Setting type: Single
# Default value: 120
Max FPS = 60

